	html, body {
        padding: 0;
        margin: 0;
        background-color: #f5f5f5;
        width: 100%;
        height: 100%;
		font-family: Roboto;
		-webkit-user-select: none;      
		-moz-user-select: none;
		-ms-user-select: none;
    }

    #main_container {
        width: 400px;
        height: 631px;
        border: 6px solid #212121;

    }



    #top_screen {
        height: 312px;
        overflow: hidden;

    }

    #bottom_screen {
        overflow: hidden;

    }

    #move1-text {
        width: 132px;
        bottom: 196px;
        left: 34px;
        z-index: 1;
    }

      #move2-text {
        width: 132px;
        bottom: 196px;
        right: 34px;
        z-index: 1;
    }

      #move3-text {
        width: 132px;
        bottom: 101px;
        left: 34px;
        z-index: 1;
    }

      #move4-text {
        width: 132px;
        bottom: 101px;
        right: 34px;
        z-index: 1;
    }

    #user-name {
        width: 83px;
        top: 190px;
        right: 58px;
        z-index: 1;
    }

    #user-lvl {
        top: 195px;
        right: 15px;
        font-size: 12px;
        z-index: 1;
    }

    #user-health-bar {
        width: 100%;
        height: 3px;
        background-color: #008200;
        z-index: 1;
    }

     #cpu-name {
        width: 83px;
        top: 15px;
        left: 16px;
        z-index: 1;
    }

    #cpu-lvl {
        top: 19px;
        left: 115px;
        font-size: 12px;
        z-index: 1;
    }

    #cpu-health-bar {
        width: 100%;
        height: 3px;
        background-color: #008200;
        z-index: 1;
    }

    #chat-text {
        width: 338px;
        top: 263px;
        left: 22px;
    }

    .user-attack-img {
        width: 100px;
        top: 95px;
        right: 57px;
        z-index: 1;
    }

     .cpu-attack-img {
        width: 100px;
        top: 185px;
        left: 60px;
        z-index: 1;
    }

    .img-spacing {
        float: left;
    }

	
	/*---- Theme Classes ----*/
	
	.absolute {
        position: absolute !important;
    }
	
	.bullseye {
		-webkit-filter: blur(0);
        position: relative !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate3d(-50%, -50%, 0) !important;
    }
	
	.box-shadow-1 {
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37) !important;
    }

    .border-radius {
        -webkit-border-radius: 2px !important;
        -moz-border-radius: 2px !important;
        border-radius: 2px !important;
    }

    .pointer {
        cursor: pointer;
    }

    .hide {
        display: none !important;
    }
	
	.text-center {
        text-align: center !important;
    }
	
	.text-30 {
        font-size: 30px !important;
        line-height: 40px !important;
        letter-spacing: normal !important;
    }

    .text-18 {
        font-size: 18px !important;
        line-height: 24px !important;
        letter-spacing: 0.005em !important;
    }

    .text-subhead {
        font-size: 16px !important;
        line-height: 24px !important;
        letter-spacing: 0.01em !important;
    }